{% extends "base.html" %}

{% block content %}

<div class="card">

    <div class="card-header">

        {% if object %}
            Edit Session
        {% else %}
            Create Session
        {% endif %}

    </div>

    <div class="card-body">

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <button
                type="submit"
                class="btn btn-success">
                Save
            </button>

            <a href="{% url 'session_list' %}"
               class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}